.page1{
    height: 100vh;
    background-size: 100%;
    background-image: url("../img/03.jpeg");
    background-repeat: no-repeat;
}

.page2{
    height: 70vh;

}


.Maisgostosos{
    width: 90%;
    
}

.page3{
    height: 70vh;
}

.page4{
    height: 70vh;
}
.page5{
    height: 70vh;
}

.imgPage4{
    width: 99%;
}